In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('Dataset - HAWKAI challenge 1.csv')

In [8]:
fraud = df.loc[(df['counter_party_country'] == 'AF')|(df['counter_party_country'] == 'BS')|(df['counter_party_country'] == 'BB')|
      (df['counter_party_country'] == 'BA')|(df['counter_party_country'] == 'BW')|(df['counter_party_country'] == 'KH')|
      (df['counter_party_country'] == 'GH')|(df['counter_party_country'] == 'IQ')|(df['counter_party_country'] == 'IR')|
       (df['counter_party_country'] == 'JM')|(df['counter_party_country'] == 'KP')|(df['counter_party_country'] == 'MU')|
       (df['counter_party_country'] == 'MN')|(df['counter_party_country'] == 'MM')|(df['counter_party_country'] == 'NI')|
       (df['counter_party_country'] == 'PK')|(df['counter_party_country'] == 'PA')|(df['counter_party_country'] == 'SY')|
       (df['counter_party_country'] == 'TT')|(df['counter_party_country'] == 'UG')|(df['counter_party_country'] == 'VU')|
       (df['counter_party_country'] == 'YE')|(df['counter_party_country'] == 'ZW')|(df['amount'] > 15000)]
fraud.sort_values(['amount'],ascending=False)

,date,amount,holding_party_country,holding_party_id,holding_party_category,counter_party_country,counter_party_id,tx_type
43236,2019/7/16 12:17,795992.84,DE,168,51,AT,346963,credit
69403,2019/7/25 14:55,80535.69,DE,364,110,DE,241918,credit
445331,2019/12/15 22:06,53100.03,DE,455,87,DE,242160,credit
87109,2019/7/31 14:40,40082.77,DE,646,96,DE,290675,credit
87108,2019/7/31 14:39,40082.77,DE,646,96,DE,290675,credit
...,...,...,...,...,...,...,...,...
97886,2019/8/3 19:10,4.00,DE,364,110,BA,252129,credit
97885,2019/8/3 19:10,4.00,DE,364,110,BA,252129,credit
224244,2019/9/18 10:07,4.00,DE,363,87,MU,17717,credit
458654,2019/12/20 10:59,0.01,DE,661,18,PK,3433,credit
453339,2019/12/18 10:57,0.01,DE,661,18,PK,49871,credit

In [15]:
new = fraud.drop_duplicates(subset=['amount']).sort_values(['amount'],ascending=False)

In [16]:
new.to_csv('Fraud cases.csv',index=False)

In [17]:
df = pd.read_csv('Fraud cases.csv')

In [18]:
df.iloc[[0,1,2,3,4,21,22,23,24,25],:]

,date,amount,holding_party_country,holding_party_id,holding_party_category,counter_party_country,counter_party_id,tx_type
0,2019/7/16 12:17,795992.84,DE,168,51,AT,346963,credit
1,2019/7/25 14:55,80535.69,DE,364,110,DE,241918,credit
2,2019/12/15 22:06,53100.03,DE,455,87,DE,242160,credit
3,2019/7/31 14:39,40082.77,DE,646,96,DE,290675,credit
4,2019/8/2 13:46,29891.61,DE,646,96,US,340482,credit
21,2019/11/13 9:25,2443.00,DE,353,87,PA,216527,credit
22,2019/11/22 11:17,1419.00,DE,452,17,BA,251614,credit
23,2019/12/30 11:13,1243.00,DE,363,87,PA,71549,credit
24,2019/10/21 13:19,915.00,DE,95,87,BA,253914,credit
25,2019/8/8 12:21,796.00,DE,363,87,IQ,12111,credit